html {
    font-size: 16px;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/font/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #000000 0%, #2a002a 40%, #ff00cc 100%);
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & {
        main {
            min-height: 50vh;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
    }
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    text-align: center;
}

section#create-todo-section {
    width: 100%;

    & {
        form {
            display: flex;
            justify-content: center;
        }
    }

    & {
        input {
            height: 2rem;
            width: 550px;
            max-width: 100%;
            padding-left: .6rem;
        }
    }

    & {
        button {
            height: 2.4rem;
            width: 2.4rem;
        }
    }
}

section#todo-list-section {

    & {
        ul {
            margin: 0;
            padding: 0;
            width: 50rem;
            max-width: 80vw;

            & {
                li {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: solid;
                    margin-bottom: .5rem;
                }
            }
        }
    }
}

button.remove-done-tasks-btn {
    height: 2rem;
    padding: 0 1rem;
}

button#save-task:hover,
button.remove-done-tasks-btn:hover {
    transition: all ease-in .6s;
    cursor: pointer;
    opacity: 0.8;
}
